
# --- backend / lib ---
beautifulsoup4
dotenv
fastapi
httpx
lxml
pydantic-settings
python-dotenv
tenacity
torch
transformers
unidecode
uvicorn[standard]

# --- notebooks / utils ---
requests
ipykernel
jupyterlab

# --- qualité / tests ---
black
ruff
pytest
respx
